<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tag.phototext"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Main3Activity" />
        <activity
            android:name=".Ocr2"
            android:theme="@style/AppBar" />
        <activity android:name=".CropActivity" />
        <activity android:name=".SaveActivity" />
        <activity
            android:name=".TextViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBar" />
        <activity
            android:name=".MainnnActivity"
            android:exported="true"
            android:theme="@style/AppBar" />
        <activity
            android:name=".CameraActivity"
            android:exported="true" />
        <activity
            android:name=".CameraTestActivity"
            android:exported="true"
            android:label="Photo Text"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:theme="@style/AppBar" />
        <activity android:name=".MultipleActivity" />
        <activity android:name=".DriveActivity"></activity>
        <activity android:name=".DriveeeActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>